<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playfine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="top">
        <div class="logo">
            <img src="/images/logo.jpg" alt="logo">
        </div>
        <div class="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Video</a></li>
                <li><a href="">Film Genre</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
        <div class="search">
            <input type="text" class="searchtext" placeholder="search">
            <input type="submit" class="searchsub" value=" ">
        </div>
    </div>
    <div class="banner">
        <div class="banleft">
            <h1>Play Fine</h1>
            <h1>lift well</h1>
            <div class="bancon">
                <p>We are committed to making it easier for more people to watch any videos</p>
            </div>
            <div class="banbutton">
                <button>Let's start</button>
            </div>
        </div>
        <div class="banright">
            <img src="/images/1.jpg">
        </div>
    </div>
    <div class="conone">
        <div class="cononeleft">
            <h1>Watch movies</h1>
            <h1>by any way you want</h1>
            <div class="onecon">
                <p>Timely updates on the latest movies in theaters.Let you watch your favorite movies confidently!</p>
            </div>
            <div class="onebutton">
                <a href="/movie" target="_blank"><button>WATCH NOW</button></a>
            </div>
        </div>
        <div class="cononeright">
            <p><a href="/movie" target="_blank"><img src="/images/2.jpg"></a></p>
        </div>
    </div>
    <div class="two">
        <div class="twoinner">
            <h1>Film Genre</h1>
            <div class="twocon">
                <p>A vanety of movie genres for you</p>
                <p>to choose as you wish</p>
            </div>
            <div class="perinner">
                <div class="per">
                    <div class="perimg">
                        <img src="/images/3.jpg">
                    </div>
                    <div class="pertitle">
                        <p>Action</p>
                    </div>
                    <div class="percon">
                        <p>click on the picture</p>
                    </div>
                </div>
                <div class="per">
                    <div class="perimg">
                        <img src="/images/4.jpg">
                    </div>
                    <div class="pertitle">
                        <p>Comedy</p>
                    </div>
                    <div class="percon">
                        <p>click on the picture</p>
                    </div>
                </div>
                <div class="per">
                    <div class="perimg">
                        <img src="/images/5.jpg">
                    </div>
                    <div class="pertitle">
                        <p>Adventure</p>
                    </div>
                    <div class="percon">
                        <p>click on the picture</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contwo">
        <div class="contwoleft">
            <p><a href=""><img src="/images/6.jpg"></a></p>
        </div>
        <div class="contworight">
            <h1>An easier way</h1>
            <h1>to watch movies,</h1>
            <h1>created by Play Fine</h1>
            <div class="twoconr">
                <p>We are always improving and upgrading to create a better way to watch movies,subscribe to us and feel the constant progress of technology at any time!</p>
            </div>
            <div class="twobutton">
                <a href="/source" target="_blank"><button>SUBSCRIBE</button></a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footinner">
            <div class="footleft">
                <div class="footper">
                    <ul>
                        <li class="f">About</li>
                        <li>Movie genre</li>
                        <li>About us </li>
                    </ul>
                </div>
                <div class="footper">
                    <ul>
                        <li class="f">Services</li>
                        <li>How to use</li>
                        <li>More movie</li>
                        <li>Subscribe</li>
                    </ul>
                </div>
            </div>
            <div class="footright">
                <div class="footlogo">
                    <img src="/images/logo.png">
                </div>
            </div>
        </div>
    </div>
</body>
</html>